<h1>Welcome to the time tracking tool</h1>

<%= image_tag "dramatic-glasses.gif", alt: "kid dressed with a suit removing his sunglasses in a dratic wary" %>

<!-- <img src="assets/dramatic-glasses.gif" alt="kid dressed with a suit removing his sunglasses in a dratic wary"> -->

<p>Power by Mark</p>
